:root {
    /* C64 (VIC-II) pepto palette */
    --c0: #000000; /* black        */
    --c1: #f0f0f0; /* white        */
    --c2: #68372b; /* red          */
    --c3: #70a4b2; /* cyan         */
    --c4: #6f3d86; /* purple       */
    --c5: #588d43; /* green        */
    --c6: #352879; /* blue         */
    --c7: #b8c76f; /* yellow       */
    --c8: #6f4f25; /* orange       */
    --c9: #433900; /* brown        */
    --ca: #9a6759; /* light red    */
    --cb: #444444; /* dark grey    */
    --cc: #6c6c6c; /* grey         */
    --cd: #9ad284; /* light green  */
    --ce: #6c5eb5; /* light blue   */
    --cf: #959595; /* light grey   */

    --font-normal: Galmuri14, serif;
    --font-mono: Topaz, monospace;
    --font-pixel: "P0T-NOoDLE";
    --font-pixel-alt: "MicroKnightPlus";
    --font-pixel-cur: "Noted";

    --font-s-mono: 10px;
    --font-s-s: 16px;
    --font-s-n: calc(var(--font-s-s) * 1);
    --font-s-p-n: calc(10px * 2);
    --font-s-p-l: calc(10px * 2);
    --font-s-p-xl: calc(10px * 3);
    --font-s-p-xxl: calc(10px * 4);

    --highlight-border-radius: 4px;
    --border-radius: 4px;
    --yellow-highlight: var(--c9);

    --background: var(--c1);
    --background-main: var(--cb);
    --background-alt: var(--cf);
    --background-inputs: var(--cf);
    --text: var(--c9);
    --border: var(--c1);
    --links: var(--ce);
    --links-visited: var(--c6);
    --links-hover: var(--c4);
    --links-active: var(--c6);
    --focus-highlight: var(--cf);
    --shadow-color: var(--c1);
    --shadow-box: 2px 2px 0px var(--border), -2px -2px 0px var(--border);
    --table-highlight: var(--c4);

    --flicker-a: #d887f0;
    --flicker-b: #81f4b1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--c0);
        --background-main: var(--c2);
        --background-alt: var(--c1);
        --background-inputs: var(--c1);
        --text: var(--c1);
        --border: var(--c1);
        --links: var(--ca);
        --links-visited: var(--c8);
        --links-hover: var(--c4);
        --links-active: var(--cf);
        --focus-highlight: var(--cf);
        --shadow-color: var(--c1);
        --shadow-box: 2px 2px 0px var(--border), -2px -2px 0px var(--border);
        --table-highlight: var(--c4);
    }
}

body {
    color: var(--text);
    font-family: var(--font-normal);
    font-size: var(--font-s-n);
    line-height: 1.6;
    background-color: var(--background);
}

pre,
code {
    font-family: var(--font-mono);
    font-size: var(--font-s-p-n);
}

pre {
    border-top: 1px solid var(--background-alt);
    border-bottom: 1px solid var(--background-alt);
}

h1 {
    font-family: var(--font-pixel);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-pixel-alt);
}

ul {
    list-style: square;
}

a {
    color: var(--links);
    text-decoration: underline;
}
a:visited {
    color: var(--links-visited);
}
a:hover {
    color: var(--links-hover);
}
a:active {
    color: var(--links-active);
}
a:focus {
    outline: 1px solid var(--focus-highlight);
}

/*
 * Classes
 */
.pixel {
    font-family: var(--font-pixel);
    font-size: var(--font-s-p-n);
}
.pixel.alt {
    font-family: var(--font-pixel-alt);
}

article > * {
    max-width: 40em;
}
article img {
    max-width: 39em;
    image-rendering: pixelated;
    border: 4px solid var(--border);
    border-radius: 0px;
    outline: 2px solid var(--border);
    outline-offset: 2px;
    width: 97%;
}
article ul {
    list-style: square;
}
article p {
    line-height: 1.8em;
}
article nav {
    font-size: var(--font-s-s);
}
section h1:first-child {
    margin-bottom: 1em;
    animation: textflicker 0.05s infinite;
}

body {
}

/* 2 columns flex body */
main {
    display: flex;
    flex-wrap: wrap;
}
main aside {
    padding-left: 8px;
    flex-basis: 320px; /* minimum sidebar size */
    flex-grow: 1;
}
main aside nav.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main section {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    padding: 0 1em;
}

/*        */
/* HEADER */
/*        */
aside {
    font-family: var(--font-pixel-alt);
}

header {
    /* sticky sidebar */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: var(--background);
    padding-block: 4px;
}

nav.breadcrumbs ul {
    list-style-type: none;
    text-align: center;
    margin-top: 1rem;
    padding-inline-start: 0;
}
nav.breadcrumbs ul > li {
    font-size: 1.3em;
    font-family: var(--font-pixel-alt);
    font-smooth: never;
    display: inline;
    margin: 0 1.2rem;
}
nav.breadcrumbs ul > li > a {
    text-decoration: none;
    color: var(--text);
}
nav.breadcrumbs ul > li > a::before {
    content: ">";
    opacity: 0;
}

nav.breadcrumbs ul > li > a:hover::before {
    opacity: 1;
}

a.tag {
    font-family: var(--font-pixel-alt);
    font-variant: all-small-caps;
    font-style: italic;
    font-weight: bold;
}
a.tag:before {
    content: "#";
}

.post-meta {
    font-family: var(--font-pixel-cur);
    font-size: var(--font-p-s);
}
.post-meta time::after {
    content: "~";
}
.post-meta time {
    font-family: var(--font-pixel-cur);
    font-size: var(--font-p-s);
}

.cursor::after {
    font-smooth: never;
    font-family: var(--font-normal);
    content: "█";
    /* content: "▄"; */
    margin-left: 0;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.reaction-button {
    backgound-color: #a2a2ac;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    outline: 1px solid black;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.reaction-button:active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.preview {
    border-bottom: 2px solid var(--background-alt);
}
.preview time {
    font-size: var(--font-s-ss);
}
.preview > a {
    font-family: var(--font-pixel);
    font-size: var(--font-s-l);
}
.preview .tag-list a {
    font-size: var(--font-s-ss);
}

.posts {
    font-weight: bold;
}
.posts time {
    font-family: var(--font-pixel-alt);
}

.scanlines::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
        );
    background-size: auto, auto;
    z-index: 2;
    background-size:
        640px 2px,
        3px 512px;
    pointer-events: none;
    backdrop-filter: blur(0.04rem);
}

.signature {
    font-family: var(--font-pixel-cur);
}

.no-select {
    user-select: none;
    -khtml-user-select: none;
}

nav#TableOfContents {
    font-size: var(--font-s-n);
}

nav#TableOfContents ul {
    padding-left: 1em;
}

nav#TableOfContents ul > li > ul {
    list-style: disc;
}

nav#TableOfContents ul > li > ul > li > ul {
    list-style: circle;
}

/* CRT
 * credits: https://aleclownes.com/2017/02/01/crt-display.html
 */
.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
        );
    z-index: 2;
    background-size:
        100% 2px,
        3px 100%;
    pointer-events: none;
}

.crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

/*
 Animations
*/
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.10626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.10626;
    }
    30% {
        opacity: 0.18128;
    }
    35% {
        opacity: 0.23604;
    }
}

@keyframes textflicker {
    from {
        text-shadow:
            1px -0.5px 0 var(--flicker-a),
            -1px -0.5px 0 var(--flicker-b);
    }
    to {
        text-shadow:
            0px 0.5px 0px var(--flicker-a),
            0px -0.5px 0px var(--flicker-b);
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* microlight.js */
.ml-keyword {
    font-weight: 600;
    color: var(--ce);
}
.ml-regex,
.ml-strings {
    color: var(--c7);
}
.ml-comments {
    font-style: italic;
    font-weight: 300;
    opacity: 0.6;
}
.ml-punctuation {
    opacity: 0.6;
}
