{{ define "main" }}
{{ partial "back_link.html" .}}

  <article>
      <p class="post-meta">
          <time datetime="{{ .Date }}">
              {{ .Date | time.Format site.Params.theme_config.date_format }}
          </time>
      </p>

      <h1>{{ .Title }}</h1>

      {{ .Content }}
  </article>

  {{ if (.GetTerms "tags") }}
    <h3>Tags</h3>
    <ul class="tags">
        {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
  {{ end }}

  {{ partial "comments.html" . }}
{{ end }}
