{{ define "main" }}

  <section class="post-meta">
    <time datetime="{{ .Date }}"  itemprop="datePublished">{{
      .Date | time.Format site.Params.date_format }}</time>

    <i class="time-to-read"
        >{{ i18n "readingTime" (dict "Count" .ReadingTime) }}</i>

    {{ partial "tags.html" . }}
  </section>

  <article>

      <h1>{{ .Title }}</h1>

      {{ .Content }}
  </article>

  <section class="translations">
    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
      {{ range .Translations }}
      <li>
        <a href="{{ .Permalink }}">{{ .Lang | upper }}: {{ .Title }}{{ if .IsPage }} <i>{{ i18n "readingTime" .ReadingTime }}</i>{{ end }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>

  {{ partial "comments.html" . }}
{{ end }}
