@import "normalize";
@import "fonts";

// Fonts
$font-family-body: "IBM Plex Sans", sans-serif;
$font-family-mono: "IBM Plex Mono", monospace;
$font-family-pixel: "Pixellari", monospace;
$page-width: 48rem;
// Logo

:root{
  color-scheme: light dark;

  --color-1: #ff6763;
  --color-2: #cc2a41;
  --color-3: #45ccfd;
  --color-4: rebeccapurple;
  --color-5: #666;
  --color-6: #ff74c6;
  --color-7: #ffc07b;
  --color-8: #fafafa;

  --accent: #ff6763;
  --color: #2b2e3b;
  --background-color: var(--color-8);

  --hovercolor: var(--color-8);
  --hoverbackground: var(--color-4);

  --c64-black: #000000;
  --c64-white: #ffffff;
  --c64-red: #880000;
  --c64-cyan: #aaffee;
  --c64-violet: #cc44cc; --c64-purple: var(--c64-violet);
  --c64-green: #00cc55;
  --c64-blue: #0000aa;
  --c64-yellow: #eeee77;
  --c64-orange: #dd8855;
  --c64-brown: #664400;
  --c64-lightred: #ff7777;
  --c64-darkgrey: #333333; --c64-darkgray: var(--c64-darkgrey); -c64-grey1: var(--c64-darkgrey); --c64-gray1: var(--c64-darkgray);
  --c64-grey2: #777777; --c64-gray2: var(--c64-grey2);
  --c64-lightgreen: #aaff66;
  --c64-lightblue: #0088ff;
  --c64-lightgrey: #bbbbbb; --c64-lightgray: var(--c64-lightgrey);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #fafafa;
    --background-color: #2b2e3b;
  }
}

html {
  font-size: 18px;
  color: var(--color);
  background-color: var(--background-color);
  font-family: $font-family-body;
  line-height: 1.6;
}

p {
  color: var(--color);
}

code, pre {
  font-family: $font-family-mono;
}

h1, h2, h3, h4, h5, h6, .pixel  {
  font-family: $font-family-pixel;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color);
  border-bottom: 2px solid var(--hoverbackground);
}

.w {
  max-width: $page-width;
  margin: 0 auto;
}

main {
  padding-left: 1em;
  padding-right: 1em;
}

hr {
  border: 0;
  border-top: 3px dotted var(--color-1);
  margin: 1em 0;
}

article {
  p {
    line-height: 1.8em;
  }
  img {
    width: 100%;
    text-align: center;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.8));
  }
}
a {
  border-bottom: 3px solid var(--accent);
  color: inherit;
  text-decoration: none;
  &:hover {
    background-color: var(--hoverbackground);
    color: var(--hovercolor);
  }
}

time[itemprop=datePublished] {
  font-style: italic;
  font-weight: 800;
  color: var(--color-5);
}

section.tags {
  padding-top: 1em;
  padding-bottom: 1em;
}

section.signature {
  font-size: 1.6rem;
}

header p {
  text-align: center;
  color: var(--color-3);
  font-style: italic;
}

section.post-meta {
  display: flex;
  time {
    flex: 1 1 auto;
    text-align: left;
  }
  .time-to-read {
    flex: 1 1 auto;
    text-align: center;
    color: var(--color-5);
  }
  .tag-list {
    flex: 1 1 auto;
    text-align: right;
  }
}

.nav {
  font-family: $font-family-pixel;
  white-space: nowrap;
  padding-left: 0;
  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    line-height: 26px;
    margin: 0 0 0 -1em;
    padding: 0 20px;
    position: relative;

    &::before, &::after {
      border-right: 1px solid var(--color-5);
      content: '';
      display: block;
      height: 50%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform: skewX(45deg);
    }
    &::after {
      bottom: 0;
      top: auto;
      transform: skewX(-45deg);
    }

    &:last-of-type::before, &:last-of-type::after {
      display: none;

    }
    a {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: -1px;
      text-decoration: none;
      border: none;
      padding: 1em;
      &:hover {
        color: var(--hovercolor);
        opacity: 100% !important;
        transition: opacity 0.2s;
      }
    }

    &:nth-of-type(1) a { opacity: 50%; }
    &:nth-of-type(2) a { opacity: 75%; }
    &:nth-of-type(3) a { opacity: 100%; }
  }
}

.sections {
  display: flex;
  border-bottom: 2px solid var(--color-1);
  a {
    flex: 1 1 auto;
    text-align: center;
    border: none;
    font-weight: bolder;
    &:hover {
      color: var(--color-8);
      background-color: var(--color-1);
    }
  }
}

ul.post-list {
  padding: 0;
  li.post-item {
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 1em;
    time {
      display: block;
      margin-bottom: -0.8em;
    }
    a {
      font-size: 2em;
      font-weight: bold;
      display: inline-block;
    }
    .tag-list {
      display: border-box;
      a {
        font-size: 0.8em;
      }
    }
  }
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 1em auto;
  padding: 2rem 0 1rem;
  list-style: none;
  border-radius: 5px;
  .tag {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem;
    a {
      border: none;
      vertical-align: middle;
    }
  }
}

.languages {
  text-align: center;
}
