/* 
Amiga-like Colors
#b5b2b5 - bg grey
#6b8ec6 - primary blue
#450e45 - Kickstart background color 
#f2a788 - Kickstart text and floppy drive color
#f72000 - Guru meditation error Red
#f7ae00 - Guru Orange
#f7ee00 - Guru Yellow
#5cfc0d - Guru Green
*/
$grey: #b5b2b5;
$blue: #6b8ec6;
$kick_bg: #450e45;
$kick_tt: #f2a788;
$guru_red: #f72000;
$guru_orange: #f7ae00;
$guru_yellow: #f7ee00;
$guru_green: #5cfc0d;
// --
$black: #0a0a0a;
$white: #fefefe;

// DOS font
@font-face {
  font-family: "Pixellari";
  src: url("/font/Pixellari.woff2") format("woff2");
}

$font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$pixel-font-family: "Pixellari", monospace;

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  // filter: invert(1);
  // img {
  //   filter: invert(1);

  //   &.ioda { filter: invert(0); }
  // }

  color: $white;
  background-color: $black;
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

// screen sizes

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
}

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body {
  background: $white;
}

html { height: 100%; }

body {
  color: $black;
  font-family: $font-family;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h1,h2,h3,h4,.pixel {
  font-smooth: none;
  -webkit-font-smoothing : none;
  filter: contrast(1);
  font-family: $pixel-font-family;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: $guru_yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

pre {
  background: $black;
  padding: 1em;
}

table { width: 100%; }

table, th, td {
  border: thin solid $black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: $white;
  background: $black;
  font-size: 80%;
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  font-style: italic;
  border: thin solid $black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

a { color: $guru_orange; }
a:visited { color: $guru_green; }
a:hover { color: $guru_red; }
