
<hr />
<section id="remark42"></section>

<script type="application/javascript">
  var remark_config = {
    host: 'https://c.marrani.lol',
    site_id: 'marrani.lol.iUFeN2LGyCscd9GJPG2G',
    theme: 'dark',
    page_title: '{{ .Title }}',
    show_email_subscription: false,
    simple_view: true,
  }
</script>

<script type="application/javascript">!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
